#Demos files
/.demos_id*
demos_peers
demos_peerlist.json
chain.db
keyfile.json
keyfile_password.txt
bin
data/evmChains/
data/evmChains
data/evmChains/*.json
data/chain.db
docker/node_base

.vscode

#OSX files
.DS_Store


#Package manager files
node_modules
yarn-error.log
yarn.lock
node/yarn.lock
package-lock.json
data/chain.db
data/chain.db

# User-specific files
TODO.md
src/features/experimental/fhe/fhe_test.ts
yarn.lock
publickey
publickey
documentation/schemas/.$*
appmap.yml
docker/attach.sh
docker/pre_public_dev.sh
docker/pre_public_local.sh
docker/rebuild_rerun.sh
docker/remove.sh
docker/reset_rerun.sh
docker/run_cmd.sh
docker/stop.sh
docker/node_1/data/chain.db
docker/node_2/data/chain.db
.trunk/tools
.vscode/settings.json
documentation/schemas/.*
pnpm-lock.yaml

# DB Files
postgres/data
postgres/data_*
postgres_*

# Logs
logs_*/
logs/

# Test files
start_two_nodes.sh
node_*.sh
publickey_*

# Doc files
documentation/*.html
documentation/*.zip
demos_peers_remote
