.footer {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(15px);
    padding-top: 120px;
}

.footerLinkWarp {
    margin: 0 auto;
    max-width: 1042px;
    padding-bottom: 109px;
}

.footerLink h3 {
    line-height: 1.27778;
    font-weight: 700;
    letter-spacing: 0.311px;
    margin-bottom: 20px;
}

.footerLink ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footerLink ul li {
    margin-bottom: 20px;
}

.footerLink ul li:last-child {
    margin-bottom: 0;
}

.footerLink ul li a {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4444;
    letter-spacing: 0.311px;
    text-decoration: unset;
    color: #fff;
    transition: 0.4s all ease;
    display: inline-flex;
}

.footerLink ul li a:hover svg path {
    color: #fff;
    transition: 0.4s all ease;
}

.footerLink ul li a svg {
    font-size: 24px;
    margin-left: 8px;
}

.footerLink ul li a:hover,
.footerLink ul li a:hover svg path {
    color: #5AF660;
}

.copyrightWrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 27px 0;
}

.copyrightWrap p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.625;
}

.footerLogoWrap .footerLogo {
    display: inline-block;
    max-width: 144px;
    height: 30px;
    margin-bottom: 26px;
}

.footerLogoWrap .footerLogo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.footerLogoWrap p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4444;
    letter-spacing: 0.311px;
    max-width: 275px;
    color: #A8ACAF;
    margin-bottom: 0;
}

.footerNewsUpdate {
    padding-top: 4px;
}

.footerNewsUpdate p {
    color: #A8ACAF;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4444;
    letter-spacing: 0.311px;
    margin-bottom: 12px;
}

.newsletterForm {
    max-width: 453px;
    width: 100%;
    position: relative;
}

.newsletterForm input {
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.08) !important;
    backdrop-filter: blur(15px);
    height: 80px;
    padding: 0 205px 0 20px;
    color: #ffffff !important;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px; 
    border: 0;
}

.newsletterForm input::placeholder {
    color: #A8ACAF;
}

.newsletterForm input:focus {
    box-shadow: unset;
}

.newsletterForm button {
    border-radius: 14px;
    background: #5AF660 !important;
    border: 0;
    padding: 16px 40px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4444;
    letter-spacing: 0.311px;
    color:  #141414 !important;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 177px;
}

@media (max-width: 1199px) {
    .footer {
        padding-top: 100px;
    }
    
    .footerLinkWarp {
        max-width: 1020px;
        padding-bottom: 90px;
    }
    
    .footerLink h3 {
        line-height: 1.27778;
        font-weight: 700;
        letter-spacing: 0.311px;
        margin-bottom: 20px;
    }
    
    .footerLink ul li {
        margin-bottom: 18px;
    }
    
    .footerLink ul li a {
        font-size: 17px;
    }
    
    .footerLink ul li a svg {
        font-size: 23px;
        margin-left: 7px;
    }
    
    .copyrightWrap {
        padding: 25px 0;
    }
    
    .footerLogoWrap .footerLogo {
        max-width: 140px;
        height: auto;
        margin-bottom: 22px;
    }
    
    .footerLogoWrap p {
        font-size: 17px;
        max-width: 270px;
    }
    
    .footerNewsUpdate {
        padding-top: 0;
    }
    
    .footerNewsUpdate p {
        font-size: 17px;
        margin-bottom: 12px;
    }
    
    .newsletterForm {
        max-width: 440px;
    }
    
    .newsletterForm input {
        border-radius: 13px;
        height: 72px;
        padding: 0 190px 0 20px;
    }
    
    .newsletterForm button {
        border-radius: 13px;
        padding: 15px 38px;
        font-size: 17px;
        line-height: 1.4444;
        right: 14px;
        width: 160px;
    }
}

@media (max-width: 991px) {
    .footer {
        padding-top: 80px;
    }
    
    .footerLinkWarp {
        max-width: 650px;
        padding-bottom: 60px;
    }

    .footerLinkRow {
        margin-bottom: -30px;
    }

    .footerLink {
        margin-bottom: 30px;
    }
    
    .footerLink h3 {
        line-height: 1.27778;
        letter-spacing: 0.311px;
        margin-bottom: 18px;
    }
    
    .footerLink ul li {
        margin-bottom: 14px;
    }
    
    .footerLink ul li a {
        font-size: 16px;
    }
    
    .footerLink ul li a svg {
        font-size: 22px;
        margin-left: 6px;
    }
    
    .copyrightWrap {
        padding: 24px 0;
    }
    
    .footerLogoWrap .footerLogo {
        width: 135px;
        margin-bottom: 20px;
    }
    
    .footerLogoWrap p {
        font-size: 16px;
        max-width: 270px;
    }
    
    .footerNewsUpdate {
        padding-top: 0;
    }
    
    .footerNewsUpdate p {
        font-size: 16px;
        margin-bottom: 12px;
    }
    
    .newsletterForm {
        max-width: 390px;
    }
    
    .newsletterForm input {
        border-radius: 12px;
        height: 65px;
        padding: 0 165px 0 18px;
    }
    
    .newsletterForm button {
        border-radius: 12px;
        padding: 13px 38px;
        font-size: 16px;
        line-height: 1.4444;
        right: 12px;
        width: 140px;
    }
}

@media (max-width: 767px) {
    .footer {
        padding-top: 60px;
        text-align: center;
    }
    
    .footerLinkWarp {
        padding-bottom: 50px;
    }

    .footerLinkRow {
        margin-bottom: -30px;
    }

    .footerLink {
        margin-bottom: 30px;
    }
    
    .footerLink h3 {
        margin-bottom: 14px;
    }
    
    .footerLink ul li {
        margin-bottom: 10px;
    }
    
    .footerLink ul li a svg {
        font-size: 20px;
        margin-left: 5px;
    }
    
    .copyrightWrap {
        padding: 22px 0;
    }
    
    .footerLogoWrap .footerLogo {
        width: 120px;
        margin-bottom: 18px;
    }
    
    .footerLogoWrap {
        margin-bottom: 30px;
    }

    .footerLogoWrap p {
        max-width: 270px;
        margin: 0 auto;
    }
    
    .footerNewsUpdate {
        padding-top: 0;
    }
    
    .footerNewsUpdate p {
        max-width: 270px;
        font-size: 16px;
        margin: 0 auto 15px;
    }
    
    .newsletterForm {
        max-width: 350px;
        margin: 0 auto;
    }
    
    .newsletterForm input {
        border-radius: 10px;
        height: 55px;
        font-size: 15px;
        padding: 0 120px 0 18px;
    }
    
    .newsletterForm button {
        border-radius: 10px;
        padding: 10px 30px;
        font-size: 15px;
        line-height: 1.4444;
        right: 10px;
        width: 100px;
    }

    .copyrightWrap p {
        line-height: 1.4;
    }

    .copyrightWrap>div:last-child {
        display: none;
    }
}