.navbar {
    padding: 22px 0 !important;
}

.header .navbarBrand {
    padding: 0;
    margin-right: 70px;
}

.navbarBrandLogo {
    max-width: 190px;
}

.NavbarCollapse {
    justify-content: space-between;
}

.NavbarNav {
    margin-right: 0;
}

.NavbarNav a {
    color: #fff;
    margin-right: 37px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4444;
    letter-spacing: 0.311px;
    padding: 0 !important;
}

.NavbarNav a:hover {
    color: #5AF660;
}

.languageWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 44px;
}

.chainBtn {
    width: 41px;
    height: 41px;
    border-radius: 25px;
    border: 0.5px solid #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.chainBtn img {
    width: 29px;
    height: 29px;
    transition: 0.4s all ease;
}

.chainBtn:hover {
    border: 0.5px solid transparent;
}

.chainBtn:hover img {
    width: 40px;
    height: 40px;
}

.connentBtn {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.311px;
    color: #242526;
    padding: 16px 48px;
    border-radius: 14px;
    background: #5AF660;
    width: 225px;
    text-decoration: unset;
    text-align: center;
}

@media (max-width: 1399px) {
    .navbar {
        padding: 20px 0 !important;
    }
    
    .header .navbarBrand {
        padding: 0;
        margin-right: 40px;
    }
    
    .navbarBrandLogo {
        max-width: 180px;
    }
    
    .NavbarNav a {
        margin-right: 30px;
    }
    
    .languageWrap {
        gap: 30px;
    }
    
    .connentBtn {
        padding: 15px 40px;
        width: 215px;
    }
}

@media (max-width: 1199px) {
    .navbar {
        padding: 18px 50px 18px 0 !important;
        position: relative;
    }
    
    .header .navbarBrand {
        padding: 0;
        margin-right: 35px;
    }
    
    .navbarBrandLogo {
        max-width: 170px;
    }

    .NavbarToggle {
        position: absolute;
        right: 0;
        padding: 0 !important; 
        border: 0 !important;
    }

    .NavbarToggle svg {
        font-size: 28px;
    }

    .NavbarCollapse {
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 5;
        width: 100%;
        background: rgba(255, 255, 255, 0.08) !important;
        backdrop-filter: blur(15px);
        border-radius: 0 0 10px 10px;
    }  
    
    .NavbarNav {
        padding: 7.5px 0;
    }
    
    .NavbarNav a {
        font-size: 17px;
        margin-right: 0;
        padding: 7.5px 20px !important;
    }
    
    .languageWrap {
        gap: 25px;
    }
    
    .connentBtn {
        font-size: 17px;
        padding: 14px 35px;
        width: 200px;
    }
}

@media (max-width: 991px) {
    .navbar {
        padding: 18px 50px 18px 0 !important;
    }
    
    .header .navbarBrand {
        margin-right: 15px;
    }
    
    .navbarBrandLogo {
        max-width: 160px;
    }

    .NavbarToggle svg {
        font-size: 28px;
    }
    
    .NavbarNav {
        padding: 7.5px 0;
    }
    
    .NavbarNav a {
        font-size: 17px;
        margin-right: 0;
        padding: 7.5px 20px !important;
    }
    
    .languageWrap {
        gap: 25px;
    }
    
    .connentBtn {
        font-size: 16px;
        padding: 13px 30px;
        width: 180px;
        border-radius: 12px;
    }
}


@media (max-width: 767px) {
    .navbar {
        padding: 18px 40px 18px 0 !important;
    }
    
    .header .navbarBrand {
        margin-right: 15px;
    }
    
    .navbarBrandLogo {
        max-width: 140px;
    }

    .NavbarToggle svg {
        font-size: 28px;
    }
    
    .NavbarNav {
        padding: 7.5px 0;
    }
    
    .NavbarNav a {
        font-size: 17px;
        margin-right: 0;
        padding: 7.5px 20px !important;
    }
    
    .languageWrap {
        gap: 10px;
    }
    
    .connentBtn {
        display: none;
    }

    .chainBtn {
        width: 36px;
        height: 36px;
    }
    
    .chainBtn img {
        width: 25px;
        height: 25px;
    }
    
    .chainBtn:hover img {
        width: 35px;
        height: 35px;
    }
}